# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [3]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [4]:
for name in data.columns:
    print name

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [5]:
print data[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [7]:
len(data)
# The dataframe has from 0 to 152 rows which is 153 rows

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [8]:
print data[-2: ]

     Ozone  Solar.R  Wind  Temp  Month  Day
151     18      131   8.0    76      9   29
152     20      223  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [31]:
print data.iloc[46,0]
# Use n-1 as row count and column counts as they start from 0

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
21.0

How many missing values are in the Ozone column of this data frame?

In [12]:
print data['Ozone'].isnull().sum()
print len(data) - len(data['Ozone'].dropna())

37
37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [35]:
data['Ozone'].mean()
# mean functin in pandas excludes NaNs

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [13]:
data2 = data[(data.Ozone > 31) & (data.Temp > 90)]
data2['Solar.R'].mean()
# can do it in one line too

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [17]:
data2 = data[data['Month']==6]
print data2['Temp'].mean()
# one line
print data[data.Month==6].Temp.mean()

79.1
79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [18]:
data2 = data[data['Month']==5]
data2['Ozone'].max()
# one line
print data[ data.Month==5 ].Ozone.max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas